@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

  --rich-black: #011627;
  --rich-black1: #011627ea;
  --rich-black2: #011627cc;
  --rich-black-light: #011627a2;
  --blue: #2a72c5;
  --blue-light: #2a72c5a2;
  --blue-light2: #2a72c52f;
  --blue-dark: #1c5494;
  --blue-dark2: #1c54949a;
  --slate-gray: #5f758e;
  --slate-gray-date: #5f758ed0;
  --slate-gray-light: #5f758ea2;
  --white: #f0e7d8;
  --antique-white: #f0e7d8;
  --antique-white2: #fffdf9ea;
  --antique-white-light: #f0e7d8a2;
  --warning: #ff291e;

  background-image: linear-gradient(
    96.5deg,
    var(--blue-light) 4.4%,
    var(--antique-white2) 17.7%
  );

  font-family: 'Encode Sans', sans-serif;
}

button {
  font-family: 'Encode Sans', sans-serif;
}

body {
  /* font-family: var(--font-mono); */
  /* background-color: var(--blue-light2); */
  color: var(--antique-white);
  margin: 0;
  padding: 0;
}

/* Define the scrollbar width and color */
::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.8rem;
  background: linear-gradient(to bottom, var(--blue-light2), var(--blue-light));
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, var(--blue-light2), var(--blue-light));
  border-radius: 1rem;
}
