.navbar {
  background-color: var(--slate-gray-light);
  color: var(--antique-white);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  /* border-radius: 0.5rem; */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  /* width: 100%; */
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  /* margin: 0;  */
  /* margin-left: 4rem; */
  /* text-align: center; */
  flex-grow: 1; /* Allow the title to take up remaining space */
}

.navbar a {
  color: var(--antique-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.3rem 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  background-color: var(--slate-gray);
  /* color: #fff; */
}

/* .home a {
  margin-left: -5rem;
} */

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 5rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ffffffd8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
}

.dropdownContent div {
  color: var(--rich-black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
  border-radius: 1rem;
}

.dropdownContent div:hover {
  background-color: var(--antique-white);
}

.dropdown:hover .dropdownContent {
  display: block;
  margin-left: -2.2rem;
  text-align: center;
}

.dropdown:hover .dropbtn {
  background-color: var(--slate-gray-light);
}

.dropdownContent div:hover {
  background-color: var(--slate-gray);
  color: #fff;
}

.dropdownContent div:focus {
  outline: none;
}

.navbar button {
  /* margin: 0.5rem; */
  padding: 0.5rem;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.1); */
  color: var(--antique-white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
}
