.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  /* create a gradient for the background  */
  background: linear-gradient(
    90deg,
    var(--rich-black) 0%,
    var(--blue-dark) 50%,
    var(--blue-dark) 20%,
    var(--rich-black) 80%
  );
  /* background-color: var(--antique-white); */
}

.title {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--antique-white);
  margin: 1rem;
  margin-bottom: 4.8rem;
  /* padding: 2rem; */
  text-align: center;
}

.title a {
  color: var(--antique-white);
  text-decoration: none;
  /* font-size: 1.5rem; */
  font-weight: 600;
  margin: 0.4rem;
  /* padding: 2rem; */
  text-align: center;
}

.title a:hover {
  color: var(--slate-gray);
  text-decoration: underline;
  scale: 1.1;
}

.main ul {
  list-style: none;
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  max-height: 18rem;
  column-count: 4;
}

.main ul li {
  margin: 0 3rem;
  padding: 0.7rem;
  width: 100%;
}

.main ul li a {
  color: var(--antique-white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.8rem 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.main ul li a:hover {
  background-color: var(--slate-gray);
  color: var(--antique-white);
}

@media (width <= 616px) {
  /* .main {
    justify-content: start;
    padding: 0 1rem;
  } */

  .main ul {
    column-count: 2;
    padding: 0;
  }

  .main ul li {
    margin: 0 1rem;
    padding: 0;
  }

  .title {
    font-size: 1.8rem;
  }
}

@media (617px <= width <= 895px) {
  /* .main {
    justify-content: start;
    padding: 0 1rem;
  } */

  .main ul {
    column-count: 3;
    padding: 0;
  }

  .main ul li {
    margin: 0 1rem;
    padding: 0;
  }
}

@media (896px <= width <= 1187px) {
  /* .main {
    justify-content: start;
    padding: 0 1rem;
  } */

  .main ul {
    column-count: 4;
    padding: 0;
  }

  .main ul li {
    margin: 0 0.5rem;
    /* padding: 0.5rem; */
  }
}
