.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  color: var(--rich-black);
}

.title {
  font-size: 2.1rem;
  font-weight: 600;
  margin: 1rem;
  margin-bottom: 4.8rem;
  /* padding: 2rem; */
  text-align: center;
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
  margin-bottom: 4.8rem;
  /* padding: 2rem; */
  text-align: center;
  color: var(--rich-black-light);
}

.button {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* background: none; */
  border: none;
  background-image: linear-gradient(
    to right,
    var(--blue-light) 0%,
    var(--blue-dark) 51%,
    var(--rich-black) 100%
  );
  width: auto;
  height: auto;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--slate-gray-light);
  scale: 1.05;
  transition: all 0.5s ease-out;
}

.container a {
  text-decoration: none;
}

@media (width <= 768px) {
  .title {
    font-size: 1.7rem;
  }

  .text {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }
}
