.dialog {
  background-color: var(--rich-black-light);
  padding: 1.5rem 2rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
  border: none;
  /* position: fixed; */
  top: 1rem;
  /* left: 40%;
  transform: translateX(-50%); */
}

.dialog .buttons button {
  margin: 0.5rem;
  padding: 0.5rem;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  align-items: center;
  /* background-color: var(--blue); */
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* background: none; */
  border: none;
  background-image: linear-gradient(
    to right,
    var(--blue-light) 0%,
    var(--blue-dark) 51%,
    var(--rich-black) 100%
  );
}

.dialog button:hover {
  background-color: var(--slate-gray);
  color: #fff;
  scale: 1.05;
}

.dialog label {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.3rem 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.dialog input {
  margin: 0.5rem;
  padding: 0.5rem;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  align-items: center;
  background-color: white;
  color: var(--rich-black);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* background: none; */
  border: none;
  outline: none;
}

.dialog input:hover {
  /* background-color: var(--slate-gray-light2); */
  color: var(--rich-black);
}

.dialog input:focus {
  outline: none;
}

.dialog input::placeholder {
  color: var(--rich-black);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  color: var(--warning);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1; /* Allow the title to take up remaining space */
  color: white;
}

.description {
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem auto;
  text-align: center;
  flex-grow: 1; /* Allow the title to take up remaining space */
  color: white;
}
